* {
    box-sizing: border-box;
}

.divContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 25px [col-start]);
    margin-top: 20%;
}

.divContainer div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}
